{% extends './base_other.html' %}
{% block main_other %}
  <div class="section section-header cd-section" id="headers" style="padding: 0">
    <!-- select_language.html로 분리 -->
    <div class="header-2">
      <!-- 간단 네비게이션 -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
        <div class="container">
          <a class="navbar-brand mb-0" href="/">너의 목소리가 보여</a>
        </div>
      </nav>
      <div class="page-header" style="background-image: url('../../../static/img/sections/inception_1.jpg')">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">자막 옵션을 선택하세요</h2>
                <br/>
              </div>
              <script>
                function notExistVideo() {
                  var notExistVideoMessage = document.getElementById("notExistVideoMessage");
                  notExistVideoMessage.style.display = "block";
                  carefulVideoMessage.style.display = "none";
                }
              </script>
              <form method="post" action="{% url 'select_language' %}" style="width: 100%">
                {% csrf_token %}
                <!-- task_id를 다음 창에서도 열기 위해 숨겨진 필드로 추가하기-->
                <input type="hidden" name="task_id" value="{{ request.GET.task_id }}">
                <div class="col-md-10 col-8 ml-auto mr-auto">
                  <div class="card card-raised card-form-horizontal no-transition">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4 ml-auto mr-auto mb-3 mt-md-auto mb-md-auto">
                          <div class="row" style="display: flex; justify-content: center; align-items: center">
                            <h6 class="mr-2">대사 생성</h6>
                            <label style="margin: 0px; height: 26px">
                              <input name="speech_to_text" type="checkbox" data-toggle="switch" checked="" data-on-color="info" data-off-color="info" data-on-text="켬" data-off-text="끔" style="margin: 0px" value="on"/>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4 ml-auto mr-auto mb-3 mt-md-auto mb-md-auto">
                          <div class="row" style="display: flex; justify-content: center; align-items: center">
                            <h6 class="mr-2">등장인물 이름 표기</h6>
                            <label style="margin: 0px; height: 26px">
                              <input name="diarization" type="checkbox" data-toggle="switch" checked="" data-on-color="info" data-off-color="info" data-on-text="켬" data-off-text="끔" style="margin: 0px" value="on"/>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4 ml-auto mr-auto mt-md-auto mb-md-auto">
                          <div class="row" style="display: flex; justify-content: center; align-items: center">
                            <h6 class="mr-2">배경음 묘사</h6>
                            <label style="margin: 0px; height: 26px">
                              <input name="bgm_detection" type="checkbox" data-toggle="switch" checked="" data-on-color="info" data-off-color="info" data-on-text="켬" data-off-text="끔" style="margin: 0px" value="on"/>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 mt-2 ml-auto mr-auto">
                    <!-- button type="submit"으로 해야 제출하지 않나? a 태그도 쓰면서 이동하고싶은데 button에 a태그 넣으면 글자만 클릭 가능함... 게다가 이거 form 밖에 튀어나왔는데 괜찮은 거 맞나-->                  
                    <button type="submit" class="btn btn-outline-neutral btn-round btn-lg">
                      자막 생성하기
                      <i class="nc-icon nc-minimal-right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
