{% extends './base_other.html' %} {% block main_other %}
<div class="section section-header cd-section" id="headers" style="padding: 0">
    <!-- upload_media.html로 분리 -->
    <div class="header-1">
        <!-- 간단 네비게이션 -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
            <div class="container">
                <a class="navbar-brand mb-0" href="/">너의 목소리가 보여</a>
            </div>
        </nav>
        <div
            class="page-header"
            style="
                background-image: url('../../../static/img/sections/everything_1.jpg');
            "
        >
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div>
                                <!-- 영상 첨부 -->
                                <div
                                    class="fileinput fileinput-new text-center"
                                    data-provides="fileinput"
                                >
                                    <div
                                        class="fileinput-new thumbnail img-no-padding"
                                    >
                                        <!--
                                        <img
                                            src="../../../static/img/image_placeholder.jpg"
                                            alt="..."
                                        />
                                        -->
                                    </div>
                                    <div
                                        class="fileinput-preview fileinput-exists thumbnail img-no-padding"
                                        style=""
                                    ></div>
                                    <div>
                                        <span class="btn btn-info btn-file"
                                            ><span class="fileinput-new"
                                                >영상 올리기</span
                                            ><span class="fileinput-exists"
                                                >영상 바꾸기</span
                                            ><input
                                                type="hidden"
                                                value=""
                                                name="..." />
                                            <!-- 동영상 파일 허용 accept="video/*" 속성 추가 -->
                                            <input
                                                type="file"
                                                name=""
                                                accept="video/*"
                                        /></span>
                                        <a
                                            href="javascript:;"
                                            class="btn btn-link btn-danger fileinput-exists btn-round"
                                            data-dismiss="fileinput"
                                            ><i class="fa fa-times"></i>
                                            지우기</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5 class="description">
                                    너의 이름은 | 1:34:28 | 3.2GB
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <h2 class="title">영상 파일을 선택하세요</h2>
                            <h5 class="description">
                                영상은 서버에 저장되지 않으니 안심하세요.
                            </h5>
                            <br />
                            <!-- a태그에 target="_blank" 속성 넣으면 새탭으로 넘어감-->
                            <a
                                href="/select-language/"
                                class="btn btn-outline-neutral btn-round btn-lg"
                            >
                                다음
                                <i class="nc-icon nc-minimal-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
