{% extends './base_other.html' %} {% block main_other %}
<div class="section section-header cd-section" id="headers" style="padding: 0">
    <!-- upload_media.html로 분리 -->
    <div class="header-1">
        <!-- 간단 네비게이션 -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
            <div class="container">
                <a class="navbar-brand mb-0" href="#">너의 목소리가 보여</a>
            </div>
        </nav>
        <div
            class="page-header"
            style="
                background-image: url('../../../static/img/sections/everything_1.jpg');
            "
        >
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="iframe-container">
                                <iframe
                                    src="https://www.youtube.com/embed/RcmrbNRK-jY?modestbranding=1&amp;autohide=1&amp;showinfo=0"
                                    frameborder="0"
                                    allowfullscreen=""
                                    height="250"
                                ></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <h2 class="title">영상 파일을 선택하세요</h2>
                            <h5 class="description">
                                영상은 서버에 저장되지 않으니 안심하세요.
                            </h5>
                            <br />
                            <a
                                href="https://www.youtube.com/watch?v=RcmrbNRK-jY"
                                target="_blank"
                                class="btn btn-danger"
                            >
                                영상 첨부
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
